.cardhover {
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.page-content {
    display: grid;
    grid-gap: 1rem;
    max-width: 947px;
    margin: 0 auto;
    font-family: var(--font-sans);
    place-items: center;
    width: 100%;
}

@media (max-width: 799px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .carholder {
        padding: 0;
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    border-radius: 1.4rem;
    width: -webkit-fill-available;
    max-height: 300px;
    aspect-ratio: 3 / 4;

}

@media (min-width: 500px) {
    .card {
        /*height: 300px;*/
    }
}

.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: 0.5s;
    pointer-events: none;

}

.card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-20%);
    transition: 0.5s;
}

.card:nth-child(1):before {
    background-image: url(../Images/cardcover1.JPG);
    background-position: center;
}

.card:nth-child(2):before {
    background-image: url(../Images/cardcover2.jpg);
    background-position: center;
}

.card:nth-child(3):before {
    background-image: url(../Images/cardcover3.jpg);
    background-position: center;
}

.card:nth-child(4):before {
    background-image: url(../Images/cardcover4.jpg);
    background-position: center;
}

.cardholder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: 0.5s;
    z-index: 1;
}

.cardholder > * + * {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    margin: auto;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.2;
    color: #ddd;
    width: auto;
}

.btn {
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.75rem 0.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: #0d0d0d;
    background-color: #E9E8E2;
    border: none;
}

.btn:hover {
    background-color: #E9E8E2;
}

.btn:focus {
    outline: 1px dashed black;
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .cardholder {
        transform: translateY(calc(100% - 2.5rem));
    }

    .cardholder > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }

    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .cardholder,
    .card:focus-within .cardholder {
        transform: translateY(0);
    }

    .card:hover .cardholder > *:not(.title),
    .card:focus-within .cardholder > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .cardholder,
    .card:focus-within .cardholder > *:not(.title) {
        transition-duration: 0s;
    }
}

.content-desc .note {
    display: flex;
    height: 40px;
    margin-top: 30px;
    justify-content: center;
}

.content-desc .note .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    max-width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: white;
}

.content-desc .note .info {
    display: flex;
    flex-direction: column;
    color: #111;
    white-space: pre;
    text-align: center;
}

.content-desc .note .info .main {
    color: #111;
    font: 700 16px/1.2 "Poppins", sans-serif;
}

.content-desc .sub {
    margin: 5px;
}
