.maingrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.maingrid .phototile {
    color: #252a32;
    border-radius: 2px;
    background: #fff;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);*/
    border-radius: 1.4rem;
}

.maingrid .tileimg {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 70%;
    background: #fff;
    border-radius: 1.4rem;
}

.maingrid .tileimg img {
    background: url(../Images/thumbnail.webp) no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.4rem;
}


@media only screen and (max-width: 600px) {
    .maingrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}

/*Prenup tiles*/

.prenupimg .tile0 {
    background-image: url(../Images/prenup/0.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile1 {
    background-image: url(../Images/prenup/1.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile2 {
    background-image: url(../Images/prenup/2.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile3 {
    background-image: url(../Images/prenup/3.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile4 {
    background-image: url(../Images/prenup/4.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile5 {
    background-image: url(../Images/prenup/5.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile6 {
    background-image: url(../Images/prenup/6.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile7 {
    background-image: url(../Images/prenup/7.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile8 {
    background-image: url(../Images/prenup/8.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile9 {
    background-image: url(../Images/prenup/9.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile10 {
    background-image: url(../Images/prenup/10.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile11 {
    background-image: url(../Images/prenup/11.JPG);
    background-position: center;
    background-size: cover;
}

.prenupimg .tile12 {
    background-image: url(../Images/prenup/12.JPG);
    background-position: center;
    background-size: cover;
}

/*end of prenup tiles*/
