.content {
    width: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.topbar .logo {
    margin: 0 10px;
}

.topbar .logotop img {
    width: 50px;
    height: 50px;
    vertical-align: middle;

}

.topbar .logomobile img {
    width: 50px;
    height: 50px;
    vertical-align: middle;

}

nav.topbar {
    position: fixed;
    left: 0;
    z-index: 2;
    width: 100%;
}

nav.topbar ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 0.5s;
}

.topbar.black ul {
    background: #E9E8E2;
}

nav.topbar ul li {
    display: inline-block;
}

nav.topbar ul li a {
    display: block;
    text-decoration: none;
    color: #111;
    font-size: 20px;
    font: 700 1rem 'Open Sans', arial, sans-serif;
    transition: all 0.2s ease;
    opacity: 0.3;
    margin: 20px;
}

nav.topbar ul li a.current {
    font: 800 1.2rem 'Open Sans', arial, sans-serif;
    opacity: 1;
}

nav.topbar ul li a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav.topbar ul li a.fake:after {
    display: none;
}

nav.topbar ul li a:hover {
    opacity: 1;
}

nav.topbar ul li a:hover:after {
    width: 100%;
    left: 0;
    background: #FF1847;
}

nav.topbar ul li a.current:after {
    width: 100%;
    left: 0;
    font-size: 14px;
    transition: 0.5s;
    background: #FF1847;
}

nav.topbar ul li a.fakemobile {
    opacity: 1;
    padding-right: 20px;
    border-right: 3px solid rgba(0, 0, 0, .15);
}

nav.topbar ul li a.fakemobile p {
    margin: 0;
}

nav.topbar ul li a.fakemobile:hover:after {
    background: none;
}

.topbar .menu-icon {
    width: 100%;
    background: #E9E8E2;
    text-align: center;
    box-sizing: border-box;
    padding: 0 40px;
    /*padding: 15px 40px; for the burger icon menu*/
    color: #111;
    display: none;
}

.topbar li.firstli {
    margin-right: 0;
}

.topbar .menu-icon li a {
    font: 700 1rem 'Open Sans', arial, sans-serif;
    opacity: 1;
    text-decoration: none;
    color: #111;
    margin: 20px;
}

.topbar li.lastli a {
    margin-right: 0;
}


.topbar .menu-icon ul {
    display: flex;
}

.topbar .menu-icon .menulist-mob.main li a {
    display: none;
    transition: 5s;
}

.topbar .menu-icon .menulist-mob.main li a.current {
    display: block;
    transition: 5s;
}

nav.topbar li a.fakemobile {
    opacity: 1;
    padding-right: 20px;
    margin-right: 0;
    border-right: 3px solid rgba(0, 0, 0, .15);
}

@media(max-width:941px) {
    .content-section .mobile-header {
        display: block;
    }

    .topbar .logotop {
        display: none;
    }

    .topbar.main ul,
    .topbar .menu ul {
        max-height: 0px;
        background: #E9E8E2;
        width: 180px;
        margin: 2px 0 0 auto;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 24%);
        /*remove diplay:none if you want UL list to show when clicking burger icon*/
    }

    .topbar.black ul {
        background: #E9E8E2;
    }

    .topbar.main .showing {
        max-height: 600px;
        height: auto;
        width: 180px;
        margin: 2px 0 0 auto;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 24%);
    }

    nav.topbar ul li {
        box-sizing: border-box;
        text-align: center;
        min-width: 90px;
    }

    .topbar .menu-icon {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .mainbody {
        overflow-x: hidden;
    }

    nav.topbar .menu-icon {
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 24%);
    }
}

.topbar .menu-icon .burger {
    position: absolute;
    right: 35px;
    top: 22px;
    /*remove diplay:none to show burger icon*/
}
